* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

body {
    background-color: #eef1f2;
}

.flex {
    display: flex;
}

header {
    height: 103px;
    background-image: url(./images/bg_header_wrap.gif);
    border-bottom: 2px solid #000;
}

.container {
    width: 1280px;
    margin: auto;
}

header .container {
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

/* nav{position: relative;
top: 15px;} - 다른 방법*/
nav {
    align-self: flex-end;
}

nav ul li a {
    background-image: url(./images/bg_gnb.png);
    display: block;
    color: transparent;
    height: 60px;
}

nav ul {
    gap: 124px;
}

nav ul li:hover a {
    background-position-y: -70px;
}

nav ul li:nth-child(1) a {
    width: 82px;
}

nav ul li:nth-child(2) a {
    width: 107px;
    background-position-x: -90px;
}

nav ul li:nth-child(3) a {
    width: 60px;
    background-position-x: -205px;
}

nav ul li:nth-child(4) a {
    width: 80px;
    background-position-x: -270px;
}

main {
    width: 721px;
}

aside {
    width: 470px;
}

main {
    flex-wrap: wrap;
    width: 721px;
    justify-content: space-between;
}

.container {
    margin-top: 40px;
    width: 1200px;
}

div.notice {
    background-color: #fff;
}

main>div:hover {
    background-position-y: -205px;
    transition: .35s;
}

main div.wid2 {
    width: 469px;
}

main>div {
    height: 205px;
    width: 226px;
    margin-bottom: 16px;
    cursor: pointer;
}



div.goods {
    background-image: url(./images/bg_goods_info.png);
}

div.pay {
    background-image: url(./images/bg_pay_list.png);
}

div.game {
    background-image: url(./images/bg_game_play.png);
}

div.event {
    background-image: url(./images/bg_event_apply.png);
}


div.ip {
    background-image: url(./images/bg_ip_manage.png);
}

div.refund {
    background-image: url(./images/bg_refund_apply.png);
}

div.tax {
    background-image: url(./images/bg_taxInvoice.png);
}

div.cs {
    background-image: url(./images/bg_customer_center.png);
}

div.remote {
    background-image: url(./images/bg_remote_supply.png);
}

/*
div = <div></div>
.div = class="div"
#div = id="div"
*/
/* aside */
aside {
    width: 470px;
}

.input-text input {
    border: 1PX solid #eeeeee;
    display: block;
    margin-right: 0;
    font-size: 15px;
    width: 340px;
    height: 48px;
    padding: 14px 25px;
    text-align: left;

}

.sor {
    align-items: center;
    justify-content: space-between;
}

.btn input {
    padding: 39.5px 37px;
    background-color: #ffcf22;
    border: none;
    font-size: 15px;
    color: #fff;
}


.gnb {

    gap: 20px;
    font-size: 12px;
    justify-content: space-between;
    margin: 10px 0 20px 0;

}


.gnb .ga {
    gap: 10px;


}

.gnb .info {
    gap: 5px;
}

.login-ip img {
    width: 18px;
}

.login-ip {
    font-size: 16px;
    background-color: #eeeeee;
    padding: 12px 20px;
    margin-bottom: 18px;
    align-items: center;
    gap: 15px;
}


.slide {
    position: relative;
}

.slide ul.arrow {
    position: absolute;
    right: 0;
    top: 0;
}

.slide ul.arrow li {
    width: 66px;
    height: 66px;
    background-image: url(./img2/btn_rolling_arrow1.png);
}

.slide ul.arrow li:nth-child(2) {
    background-position-x: -66px;
}




/* footer */
footer {
    position: relative;
    top: 0px;
}

footer .container {
    border-top: 2px solid #eeeeee;

    height: 190px;
}

figure {
    width: 20%;
    align-items: center;
    padding-right: 50px;
}

img.footer-logo {
    width: 100%;

}

.footer-menu {
    width: 80%;
}

footer ul {
    gap: 20px;
    padding: 18px 0;
    border-bottom: 1px solid #eeeeee;
}

.adress {
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

footer .sub-adress {
    font-size: 12px;
}

footer .sub-adress .copy {
    padding-top: 10px;
}

footer .adress .relation-site {
    width: 260px;
    justify-content: space-between;
    font-size: 12px;
}

.site {
    border: 1PX solid #d7d7d9;
    width: 73%;
    padding: 10px 20px;
    background-color: #fff;
}

button {
    width: 25%;
    background-color: #ffcf22;
    border: none;
    padding: 10px 20px;
}