@font-face {
    font-family: 'NotoSans';
    src: url(/NotoSansCJKkr-Light.woff);
}

@font-face {
    font-family: 'Metropolis';
    src: url(/Metropolis-Medium.woff);
}

@font-face {
    font-family: 'Metropolis-Light';
    src: url(/Metropolis-Light.woff);
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

body {
    font-family: 'NotoSans';
}

header {
    width: 1900px;
    margin: auto;
    height: 150px;
    font-weight: 700;

    &::after {
        position: absolute;
        top: 0;
        height: 0;
        width: 100%;
        content: '';
        transform: .4s;

        &.on {
            height: 300px;
        }
    }


    .top {
        display: flex;
        gap: 20px;
        color: #888;
        justify-items: flex-end;
        justify-content: flex-end;
        padding: 5px;

        li {
            padding: 10px 15px;
        }

        .green {
            background: #41b4b7;
            color: #fff;
            border-radius: 50px;
        }

        .gray {
            background: #9badb6;
            color: #fff;
            border-radius: 50px;
        }
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: relative;

        nav {
            .left {
                position: absolute;
                top: 10px;

                &:hover {
                    li.main-menu {
                        padding-right: 50px;
                    }

                    .one {
                        display: none;
                    }

                    .hover {
                        display: block;
                    }
                }

            }

            .one {
                font-family: 'Metropolis';
                font-weight: 500;
            }

            .hover {
                display: none;
            }

            a {
                display: block;
            }

            >ul {
                display: flex;
            }

            li.main-menu>a {
                padding: 10px;


            }

            li.main-menu {
                font-size: 18px;
                transition: .35s;

                &:hover {
                    >a {
                        color: #0890c0;
                        font-weight: 700;
                    }
                }
            }

            ul.sub-menu {

                display: none;

                li {
                    padding: 10px;

                }
            }

            .right {
                position: absolute;
                right: 80px;
                top: 10px;

                &:hover {
                    li.main {
                        padding-left: 30px;

                        >a {
                            text-align: left;
                        }
                    }
                }

                ul.sub {
                    width: 100%;
                    display: none;

                    li {
                        padding: 10px 0;
                    }
                }

                li.main {
                    font-size: 18px;
                    transition: .35s;

                    >a {
                        padding: 10px;
                        text-align: center;
                    }

                    &:hover {
                        >a {
                            color: #0890c0;
                            font-weight: 700;

                        }
                    }
                }



            }

            .gnb {
                gap: 20px;
                position: absolute;
                right: 10px;
                top: 26px;

            }
        }
    }
}

.sect1 {
    position: relative;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    svg {
        width: 50px;
        height: 150px;
        cursor: pointer;
    }

    path {
        stroke: #c9c9c9;
        stroke-width: 4;
        stroke-linecap: round;
        transition: .5s;
        fill: transparent;
    }

    .arrow {
        position: absolute;
        cursor: pointer;

        &:hover {
            p {
                opacity: 1;
            }
        }
    }

    .prev {
        left: 11px;
        top: 44%;

        p {
            font-family: 'Metropolis';
            transform: rotate(-90deg);
            position: absolute;
            top: 70px;
            right: -33px;
            opacity: 0;
            font-weight: 500;
        }
    }

    .next {
        right: 11px;
        top: 44%;

        p {
            font-family: 'Metropolis';
            transform: rotate(90deg);
            position: absolute;
            top: 70px;
            right: 40px;
            font-weight: 500;
            opacity: 0;
        }

    }
}

.sect2 {
    height: 100vh;
    position: relative;

    h2 {
        text-align: center;
        padding: 100px;
        font-size: 60px;
        font-family: 'Metropolis-Light';
        font-weight: lighter;
    }

    #tabbox {
        width: 1700px;
        margin: auto;
        display: flex;
        height: 800px;

        ul.tab-menu {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            li {
                font-family: 'Metropolis-Light';
                padding: 20px;
                color: #999;

                a {
                    display: block;
                }

                &.on {
                    color: #0890c0;
                    font-size: 20px;
                    font-weight: 700;
                    transition: .35s;
                }
            }
        }

        .tabs {
            width: 70%;
            display: flex;
            justify-content: space-between;
            position: relative;
            overflow: hidden;

            .vslide-container {
                width: 710px;
                height: 800px;
                position: relative;

                .vslide-wrap {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    position: absolute;
                    z-index: 99;

                    .vslide {
                        width: 100%;
                        height: 100%;

                        video {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .hslide-container {
                position: relative;
                width: 476px;
                height: 350px;

                .hslide-wrap {
                    width: 400%;
                    height: 100%;
                    display: flex;
                    position: absolute;
                    margin-top: 45%;

                    .hslide {
                        width: 100%;
                        height: 100%;

                        .text {
                            font-family: 'NotoSans';
                            padding: 20px;
        
                            h3 {
                                font-size: 35px;
                                padding-bottom: 30px;
                            }

                            p {
                                font-size: 20px;
                            }
                        }

                    }

                }

            }

        }

    }

    button {
        border: none;
        background: transparent;
    }

    svg {
        width: 50px;
        height: 150px;
        cursor: pointer;
    }

    path {
        stroke: #c9c9c9;
        stroke-width: 4;
        stroke-linecap: round;
        transition: .5s;
        fill: transparent;
    }

    .arrow {
        position: absolute;
        cursor: pointer;

        &:hover {
            p {
                opacity: 1;
            }
        }
    }

    .prev {
        left: 100px;
        top: 590px;

        p {
            font-family: 'Metropolis-Light';
            transform: rotate(-90deg);
            position: absolute;
            top: 70px;
            right: -33px;
            opacity: 0;
            font-weight: 500;
        }
    }

    .next {
        right: 100px;
        top: 590px;

        p {
            font-family: 'Metropolis-Light';
            transform: rotate(90deg);
            position: absolute;
            top: 70px;
            right: 40px;
            font-weight: 500;
            opacity: 0;
        }

    }
}

.sect3 {
    height: 100vh;
    background: #f4f7fa;

    h2 {
        text-align: center;
        padding: 70px;
        font-size: 60px;
        font-family: 'Metropolis-Light';
        font-weight: lighter;
    }

    #tabbox2 {
        ul.tab-list {
            display: flex;
            text-align: center;
            font-size: 24px;
            gap: 40px;
            justify-content: center;

            li {
                color: #999;

                &.on {
                    color: #0890c0;
                    font-weight: 700;
                }
            }
        }

        .tabs {
            margin-top: 50px;
            width: 100%;
            height: 800px;
            position: absolute;
        }

        .tab {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    button {
        border: none;
        background: transparent;
    }

    svg {
        width: 50px;
        height: 150px;
        cursor: pointer;
    }

    path {
        stroke: #c9c9c9;
        stroke-width: 4;
        stroke-linecap: round;
        transition: .5s;
        fill: transparent;
    }

    .arrow {
        position: absolute;
        cursor: pointer;

        &:hover {
            p {
                opacity: 1;
            }
        }
    }

    .prev {
        left: 40px;
        top: 330px;
        z-index: 99;

        p {
            font-family: 'Metropolis-Light';
            transform: rotate(-90deg);
            position: absolute;
            top: 70px;
            right: -33px;
            opacity: 0;
            font-weight: 500;
        }
    }

    .next {
        right: 40px;
        top: 330px;
        z-index: 99;

        p {
            font-family: 'Metropolis-Light';
            transform: rotate(90deg);
            position: absolute;
            top: 70px;
            right: 40px;
            font-weight: 500;
            opacity: 0;
        }

    }

    .swiper {
        width: 1280px;
        height: 720px;
        overflow: visible;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-scrollbar-drag {
        bottom: -20px;
        background: #0890c0;
    }

    .swiper-scrollbar {
        bottom: -20px;
    }
}

.sect4 {
    height: 100vh;
    background: #f4f7fa;

    h2 {
        text-align: center;
        padding: 120px 0 50px 0;
        font-size: 60px;
        font-family: 'Metropolis-Light';
        font-weight: lighter;
    }

    .sect4-inner {
        display: flex;
        width: 1500px;
        margin: auto;
        justify-content: space-between;

        p {
            font-size: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .tab-index {
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;

            li {
                padding: 30px 60px 30px 0;
                font-size: 20px;
                border-bottom: 1px solid #999;
                color: #999;

                &.on {
                    color: #0890c0;
                }

                span {
                    font-size: 16px;
                    font-weight: 700;
                    padding-bottom: 20px;
                }
            }
        }

        .sect4-slide {
            width: 710px;
            height: 710px;
            overflow: hidden;
            display: flex;
        }
    }

}